.box-container{
	float: left;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px ;
	&:hover {
		background-color: rgba(0,0,0,0.2);
		border-radius: 50%;
	}
	>p{
		margin: 0;
		padding: 0;
		opacity: 0.5;
		cursor: default;
	}
}
