.date-time-picker{
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	color: #464646;
	.date-time-container{
		float: left;
		display: flex;
		justify-content: space-between;
	}
	.date-container{
		position: relative;
		padding: 0px 20px;
		cursor: pointer;
	}
	.time-container {
		position: relative;
		cursor: pointer;
		margin-left: 20px;
	}
}
